:root {
  --white: white;
  --clean-white:#ddd;
  --red: red;
  --blue: blue;
  --purple: purple;
  --springgreen: springgreen;
  --springgreen: springgreen;
  --darkorange: darkorange;
  --yellow: yellow;
  --clean-grey: #282e34;
  --dark-grey: #13161a;
  --my-grey:#777;
}
@font-face {
  font-family: Sigmar;
  src: url("../fonts/SigmarOne-Regular.ttf");
}
a{
  text-decoration: none;
}
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  /* color: var(white); */
}

span.led {
  font-family: Sigmar;
  font-size: 310%;
  display: block;
  text-transform: uppercase;
  /* letter-spacing: 33em; */
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(0, 187, 255, 1) 0%,
    rgba(0, 255, 57, 1) 5%,
    rgba(8, 97, 72, 1) 11%,
    rgba(8, 7, 150, 1) 15%,
    rgba(7, 49, 147, 1) 22%,
    rgba(255, 254, 3, 1) 31%,
    rgba(232, 122, 223, 1) 42%,
    rgba(215, 144, 231, 1) 47%,
    rgba(180, 233, 149, 1) 53%,
    rgba(0, 91, 255, 1) 69%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: lintern_light 5s linear normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes lintern_light {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}
.caption {
  opacity: 1;
}
.bigger {
  font-size: 200%;
  position: relative;
  top: -12px;
}

#presentation {
  /* background-color: -var(white); */
  text-align: center;
  padding: 50px 80px;
}
.bgimg-1 {
  background-image: url("../img/img_parallax.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/code.png");
  min-height: 400px;
}
.bgimg-2.caption.border {
  background-color: transparent;
  font-size: 25px;
  color: var(--my-grey);
}
.bgimg-3 {
  background-image: url("../img/office-desk.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: var(--white);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h3,
p {
  text-align: center;
}
.box {
  display: flex;
  justify-content: space-evenly;
  color: var(--clean-white);
  background-color: #282e34;
  padding: 50px 80px;
  text-align: justify;
}
.tecnologia {
  cursor: pointer;
}

h3.box > a:hover{
  color:var(--my-grey);
}


.detalle {
  display: none;
}
.tecnologia {
  border: 1px solid var(--white);
  padding: 10px;
}

.tecnologia:hover {
  border-color: var(--clean-grey);
}

.tecnologia:hover .detalle {
  position: absolute;
  bottom: 129px;
  margin-left: -10px;
  display: block;
  padding: 10px;
  background-color: var(--white);
  color: var(--clean-grey);
}

#works {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  padding-left: 15%;
}
#works img {
  width: 200px;
}

#works-container {
  padding: 5px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
