/* posible color palete
--khaki-x-11-light-khaki: #ddd78dff;
--gold-crayola: #dcbf85ff;
--rose-taupe: #8b635cff;
--umber: #60594dff;
--morning-blue: #93a29bff;
*/

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Bastille;
  src: url(../fonts/Bastille-Vredeburg-Demo.ttf);
}
@font-face {
  font-family: Penguin;
  src: url(../fonts/Penguin-Regular.ttf);
}
@font-face {
  font-family: Led;
  src: url(../fonts/The\ Led\ Display\ St.ttf);
}

body > header  h2{
  font-family: Penguin;
  color: white;
  font-size: 10vw;
  
}

body {
    font-family: Roboto;
}

.strike{
  text-decoration: line-through;
}
/* @media (min-width: 500px) {body { background-color: red;}}  */

body > header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%); 
  padding: 1%;
  /* text-align: center; */
  /* font-size: 30px; */
/*	background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -ms-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -o-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 10px 10px, 10px 10px, 100% 100%;
	background-position: 1px 1px, 0px 0px, center center;
	
	top: 0;
*/
}

body {
	background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -ms-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: -o-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background: radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
	background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
	background-position: top center, 1px 1px, 0px 0px, top center;
	
	bottom: 0;
}

nav ul {
  display: flex;
  list-style: none;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
}
nav li a {
  color: #0b86cb;
  font-size: 16px;
  background-color: white;
  text-decoration: none;
  padding: 8px 15px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
nav li a.active,
nav li a:hover {
  background-color: #0b86cb;
  color: white
}
body > main {
  padding-left: 5%;
  padding-right: 5%;
}
p.presentation::first-letter{
  font-size: 550%;
  font-family: Bastille;
}

p.presentation strong > span{
  background-color: turquoise;
    font-variant:small-caps;
}

span.penguin{
  color:whitesmoke;
  font-family: Penguin;
  font-size: 310%;
  font-variant:small-caps;

}

span.led{
  font-family: Led;
  font-size: 310%;
}

.speed-icon::after{
  content:url('../img/icon/speed.svg');
  background-size: 30px 20px;
}
.red{
  color:red;
}
.blue{
  color:blue;
}
.purple{
  color:purple;
}
.springgreen{
  color:springgreen
}
.darkorange{
  color:darkorange;
}
.yellow{
  color:yellow;
}
.multicolor{
  background: linear-gradient(90deg, rgba(0,187,255,1) 0%, rgba(0,255,57,1) 5%, rgba(8,97,72,1) 11%, rgba(8,7,150,1) 15%, rgba(7,49,147,1) 22%, rgba(255,254,3,1) 31%, rgba(232,122,223,1) 42%, rgba(215,144,231,1) 47%, rgba(180,233,149,1) 53%, rgba(0,91,255,1) 69%, rgba(0,212,255,1) 100%);
}
main #skills{
  display:flex;
  
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  /* flex-flow: column; */

  /* flex-direction: row; */
  
}
main article {
  background-color: teal;
  border-radius: 81px 81px 200px 0px;
-moz-border-radius: 81px 81px 200px 0px;
-webkit-border-radius: 81px 81px 200px 0px;
border: 0px solid #000000;
-webkit-box-shadow: 17px 10px 41px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 10px 41px 0px rgba(0,0,0,0.75);
box-shadow: 17px 10px 41px 0px rgba(0,0,0,0.75);
}